@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@500&family=Rock+Salt&family=Rubik+Marker+Hatch&display=swap");
* {
	margin: 0;
	padding: 0;
}
.nav {
	background: rgb(56, 25, 56);
	padding: 10px;
	height: 5vh;
	color: rgb(212, 190, 190);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Rubik Marker Hatch", cursive;
}
.gameContainer {
	/* background-color: YELLOW; */
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-family: "Merienda", cursive;
}
.container {
	font-family: "Rock Salt", cursive;
	display: grid;
	grid-template-columns: repeat(3, 10vw);
	grid-template-rows: repeat(3, 10vw);
	position: relative;
}
.box {
	border: 2px solid black;
	font-size: 4vw;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box:hover {
	background-color: rgb(255, 233, 255);
}
.gameInfo {
	padding: 0 34px;
}
.imgbox img {
	width: 0;
	transition: width 1s ease-in-out;
}

.br-0 {
	border-right: 0;
}
.bl-0 {
	border-left: 0;
}
.bt-0 {
	border-top: 0;
}
.bb-0 {
	border-bottom: 0;
}
#reset {
	margin: 0 20px;
	padding: 2px 15px;
	border-radius: 12px;
	cursor: pointer;
	background-color: rgb(191, 225, 255);
	font-family: "Merienda", cursive;
}
/* .line {
	background-color: black;
	width: 30vw;
	height: 3px;
	position: absolute;
	transform: translate(3px, 20vw) rotate(90deg);
} */
@media screen and (max-width: 800px) {
	.gameContainer {
		flex-wrap: wrap;
	}
	.gameInfo {
		margin-top: 34px;
	}
	.gameInfo h1 {
		font-size: 1rem;
	}
	.container {
		grid-template-columns: repeat(3, 20vw);
		grid-template-rows: repeat(3, 20vw);
	}
}
